<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                
                <th>Email</th>
                <th>Wallet</th>
                <th>EV</th>
                <th>Edit</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
               
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td><a href="{{ url_for('edit', user_id=user[0]) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br>
    <h1>Delete the user</h1>
    <form action="/delete" method="post">
        <div class="form-group mt-2">
          <input type="number" name="dbid" class="form-style" placeholder="Enter User ID to Delete" id="dbid"
            autocomplete="off" required>
          
        </div>
        <br><br>
        <input class="btn mt-4" type="submit" value="Delete">
      
    </div>
  </div>
  </form>
</body>
</html>
