<!DOCTYPE html>
<html>

<head>
    <title>Print@Ease</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="{{ url_for('static', filename='CustLog.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CustLog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Pop Up for small Messages to notify -->
    <div id="popup-box">
        <div id="popup-content">
            <span id="popup-close">&times;</span>
            <p id="popup-message"></p>
        </div>
    </div>

    <!-- The Card for SignUP and Login -->
    <div class="main">

        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <label for="chk" aria-hidden="true">Sign Up</label>
            <input type="text" name="txt" placeholder="User name" id="Susername" required>
            <input type="email" name="email" placeholder="Email" id="Semail" required>
            <input type="password" name="pswd" placeholder="Password" id="Spassword" required>
            <input type="submit" value="Sign Up" id="signup" />
        </div>

        <div class="login">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" id="Lemail" required>
            <input type="password" name="pswd" placeholder="Password" id="Lpassword" required>
            <input type="submit" value="Login" id="login" />
            <input type="button" value="Forgot Password" id="forgotpassword" />
        </div>

    </div>

</body>

</html>