<!DOCTYPE html>
<html>
<head>
  <title>My Embedded Page</title>
</head>
<body>
  <h1>My Embedded Page</h1>
  <!-- <iframe src="https://www.google.com/maps/13.0559126,80.1480076" height="300px" width="90%"></iframe> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9830.008660106922!2d80.14640100684983!3d13.054311585237112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1679318907536!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>
