<!DOCTYPE html>
<html>
<head>
  <title>My Location</title>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
  <style>
    #map {
      width: 80%;
      height: 30%;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    var myView = new ol.View({
      center: ol.proj.fromLonLat([80.232448,  12.8974848]),
      zoom: 18
    });
    
    var marker = new ol.Feature({
      geometry: new ol.geom.Point(
        ol.proj.fromLonLat([80.232448,  12.8974848])
      )
    });
    
    var vectorLayer = new ol.layer.Vector({
      source: new ol.source.Vector({
        features: [marker]
      }),
      style: new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [0.5, 1],
          src: 'https://openlayers.org/en/v4.6.5/examples/data/icon.png'
        })
      })
    });
    
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),
        vectorLayer
      ],
      view: myView
    });
  </script>
</body>
</html>
