<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Print@Ease</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1>Print@Ease</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" >Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services" class="active">Services</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/contact">Contact</a></li>
          {% if log==1 %}
            <li><a class="get-a-quote" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Log In</a></li>
            <li><a class="get-a-quote" href="/register">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('static/assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Services</h2>
              <p>Print@Ease offers high-quality custom printing services for professional and personal needs. Services include document printing, personalized cups, custom t-shirts, 3D printing, and large format printing. With precision and excellence, Print@Ease brings your vision to life and ensures your satisfaction every step of the way.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-magnifying-glass"></i></div>
              <div>
                <h4 class="title">Explore Our Services</h4>
                <p class="description">Dive into the world of endless possibilities with our wide array of printing options. From personalizing everyday items to bringing complex 3D designs to life, there's no limit to what you can create with Print@Ease. </p>
                <a href="/servicedetails" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-sliders-h"></i></div>
              <div>
                <h4 class="title">Customize Your Order</h4>
                <p class="description"> Design your perfect product using our user-friendly platform. Upload your artwork or choose from our extensive library of templates to create a design that truly reflects your individuality.</p>
                <a href="/servicedetails" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-face-smile"></i></div>
              <div>
                <h4 class="title">Sit Back and Relax</h4>
                <p class="description">Once you've placed your order, our team of skilled professionals will work meticulously to deliver a high-quality product that exceeds your expectations. With fast turnaround times and reliable delivery, you'll have your masterpiece in no time.</p>
                <a href="/servicedetails" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->


      <!-- Start of servivces section -->
      <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <span>Our Services</span>
            <h2>Our Services</h2>
  
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/storage-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link">Document Printing</a></h3>
                <p>Document Printing: High-quality printing services for all your important documents, such as brochures, flyers, business cards, and presentations. We ensure your documents are crisp, clear, and professional.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/logistics-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link">Personalized Cups</a></h3>
                <p>Customize cups for your home, office, or special event. Choose from a variety of styles and materials, including ceramic, glass, and travel mugs, and add your unique designs or company logo for a personal touch.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/cargo-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link"> Custom T-Shirts</a></h3>
                <p>Create stylish and comfortable t-shirts for any occasion. Select from a wide range of colors, sizes, and materials, and add your artwork, slogans, or logos to make a statement.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/trucking-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link">Promotional Products</a></h3>
                <p>Boost your brand visibility with our range of customizable promotional items, such as pens, keychains, tote bags, and more. A perfect solution for marketing campaigns, events, or corporate gifts.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/packaging-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link">3D Printing</a></h3>
                <p>Bring your intricate designs and models to life with our cutting-edge 3D printing technology. Ideal for prototyping, architectural models, or custom items, our 3D printing service ensures precision and quality in every project.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="card">
                <div class="card-img">
                  <img src="static/assets/img/warehousing-service.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="/servicedetails" class="stretched-link">Large Format Printing</a></h3>
                <p> Make a big impact with our large format printing services, including banners, posters, and signage. Ideal for advertising, events, or interior design, our high-resolution prints deliver stunning visuals and durability.</p>
              </div>
            </div><!-- End Card Item -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->

   <!-- ======= Features Section ======= -->
   <section id="features" class="features">
    <div class="container">

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

        <div class="col-md-5">
          <img src="static/assets/img/features-1.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <h3>User-Friendly Platform</h3>
          <p class="fst-italic">
            Our intuitive and easy-to-use platform simplifies the design and ordering process, making it a seamless experience for our customers.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Effortless customization</li>
            <li><i class="bi bi-check"></i> Streamlined design tools</li>
            <li><i class="bi bi-check"></i> Convenient order placement</li>
          </ul>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="static/assets/img/features-2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3>Quality and Precision</h3>
          <p class="fst-italic">
            At Printfinity, we are committed to delivering products that meet the highest standards, ensuring precision and professionalism in every item.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> High-quality materials</li>
            <li><i class="bi bi-check"></i> Meticulous attention to detail</li>
            <li><i class="bi bi-check"></i>Consistent, professional results</li>
          </ul>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5">
          <img src="static/assets/img/features-3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <h3> Exceptional Customer Support</h3>
          <p>Our dedicated customer support team is always ready to assist, providing personalized guidance and prompt assistance throughout the entire process.</p>
          <ul>
            <li><i class="bi bi-check"></i> Responsive support team</li>
            <li><i class="bi bi-check"></i> Customized guidance</li>
            <li><i class="bi bi-check"></i> Timely problem resolution</li>
          </ul>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="static/assets/img/features-4.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3>Fast Turnaround and Delivery</h3>
          <p class="fst-italic">
            Printfinity's efficient production process and reliable shipping partners ensure quick turnaround times and timely delivery of your custom products.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Streamlined production</li>
            <li><i class="bi bi-check"></i> Dependable shipping partners</li>
            <li><i class="bi bi-check"></i> Prompt order fulfillment</li>
          </ul>
        </div>
      </div><!-- Features Item -->

    </div>
  </section><!-- End Features Section -->
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="slides-1 swiper" data-aos="fade-up">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    From personalized cups to document printing, I've used Print@Ease for various projects, and they've consistently delivered top-quality products with excellent customer service. Highly recommended for all your custom printing needs!.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Print@Ease has exceeded my expectations with their top-notch quality and attention to detail. The custom t-shirts I ordered for my team event turned out perfect! Highly recommended.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As a store owner, it's essential to work with reliable partners, and Print@Ease has proven to be just that. Their team always delivers on time and exceeds my expectations in terms of quality and service.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I've been using this application to order printing services for my business, and it has been a game-changer. The app makes it easy to find the right printer for my needs and place an order without any hassle. The service is also very fast and reliable.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Print@Ease has been a game-changer for my retail store. Their wide range of services, including personalized cups and custom t-shirts, has allowed me to create unique merchandise that truly sets my business apart from the competition.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->

     <!-- ======= Frequently Asked Questions Section ======= -->
     <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    How does the application ensure the quality of the printing service provided by local printing shops?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The application only connects customers with trusted and reliable printing shops that have a proven track record of providing high-quality printing services. Customers can also view ratings and reviews from previous customers before choosing a printing shop.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Can customers use the application to print documents from their own printers at home?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, customers can use the Print@Ease application to print documents from their own printers at home. By creating a business account, you can access our platform's advanced features, making it even more convenient to manage your printing needs. This flexibility allows you to enjoy the benefits of our user-friendly platform and customization options while utilizing your own equipment for added convenience.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    How are payments processed through the application?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The application allows customers to make payments using Google Pay, which is a secure and convenient payment platform that is widely used by consumers. The payment is processed securely and transparently through the platform.We have other payment methods available including wallet,Other UPIs,Cridit cards,Debit Cards etc.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    How can customers track the progress of their printing job?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                   
                    The application provides progress updates to customers via email. This ensures that customers are kept informed about the status of their printing job and can plan their time accordingly. They can also track the status of their printing job through the application.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Can the system be adapted for other industries besides education and retail?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, the system can be adapted for other industries as well, as long as there is a need for online printing services. The application can be customized to meet the specific needs of different industries and businesses. For example, it can be adapted for businesses that need to print marketing materials, or for individuals who need to print custom T-shirts or posters.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Print@Ease</span>
          </a>
          <p>Our goal is to simplify the search and ordering of printing services from local printers. Our application makes the process efficient and convenient for customers and printer shops alike.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
           Print@Ease<br>
          Thandalam,Chennai<br>
            Tamil Nadu <br><br>
            <strong>Phone:</strong> +91 5589 55488 55<br>
            <strong>Email:</strong> printatease2023@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright 2023<strong><span>Print@Ease2023</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>