<!DOCTYPE html>
<html>
<head>
    <title>Upload Snapshot</title>
</head>
<body>
    {% if filename %}
        <img src="{{ url_for('static', filename=filename) }}" alt="Snapshot">
        <form method="POST" action="{{ url_for('upload', filename=filename) }}" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="submit"/>
        </form>
        {% else %}
            <p>No file selected</p>
        {% endif %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
    </html>